/* App.css or index.css or any other CSS file */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.card-container {
  width: 470px;
  height: 178px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.card-content {
  margin-left: 1rem;
  margin-top: -3rem;
}
.card-image {
  width: 125px;
  height: 168px;
  border-radius: 10px;
}
.line-one {
  display: flex;
  align-items: center;
}
.line-one p .country {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}
.line-one p .googleMapsLink {
  font-size: 0.5rem;
  color: #918e9b;
}
.location-logo {
  width: 1rem;
  height: 1rem;
}

.card-title {
  margin-top: -1rem;
  font-size: 1.2rem;
}

.card-dates {
  margin-top: -0.2rem;
  font-size: 0.45rem;
}
.card-par {
  font-size: 0.4rem;
  max-width: 10rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f55a5a;
}
.nav-img {
  width: 2rem;
  height: 2rems;
}
.nav-par {
  color: white;
}
.seperator {
  background-color: #918e9b;
  width: 1rem;
}
